# see https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners for configs

# review PRs
*    @jakeberesford-palmetto @murphymoulds-palmetto @mariahjrogers @evandegler-palmetto @omoorepalmetto
