# see https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners for configs

# review PRs
*    @ethanknox-palmetto @emekdahl-palmetto @murphymoulds-palmetto @mrogers-palmetto @jakeberesford-palmetto @cgaunt-palmetto @omoorepalmetto
