minimum_pre_commit_version: "2.12"
repos:
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.17.0
    hooks:
    - id: yamllint
      args: [-d relaxed]
      verbose: true
      exclude: codeql-analysis.yml
  - repo: https://github.com/timothycrosley/isort
    rev: 5.10.1
    hooks:
    - id: isort
      additional_dependencies: [toml]
      exclude: \.tpl\.py
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
      exclude: \.tpl\.py
